/* conocenos */
@mixin cuadrados{
    background-color: #fee2f8;
        background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
        line-height: 1.6;
        border: black;
        border-style: solid;
        width: 30%;
        height: 40%;
        display: inline-block;
        margin: 15px;
}
.cuadrados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .cuadrado1 {
        @include cuadrados;
        color:$xl;
    }
    .cuadrado2 {
        @include cuadrados;
        color:$xl;
    }
    .cuadrado3 {
        display: inline-block;
        border: black;
        border-style: solid;
        padding: 10px;
        margin: 10px;
        text-align: center;
        background-color: #cdedfd;
        background-image: linear-gradient(319deg, #cdedfd 0%, #ffec82 37%, #ffcfd2 100%);
    }
    .cuadrado4{
        @extend .cuadrado2;
            background-color:$bg_footer;
            background-image: url(#);
        }
    
}

/* fin conocenos */